# Common dependencies
-r requirements-common.txt

# Dependencies for HPU code
ray
triton==3.1.0
pandas
tabulate
setuptools>=61
setuptools-scm>=8
vllm-hpu-extension @ git+https://github.com/HabanaAI/vllm-hpu-extension.git@fca8b3f7cedbec7986ce61a68e22b80001995c7b
